.item-details {
  //   lost-center: 1024px;

  @apply rounded shadow-xl overflow-hidden bg-white p-3;

  @screen md {
    @apply p-12;
  }

  &__image {
    max-width: 300px;
    min-height: 300px;

    @screen md {
      @apply my-0;
    }

    @apply flex justify-center items-center bg-no-repeat bg-center bg-contain mx-auto mt-3 mb-6;
  }

  &__title {
    @apply font-bold text-2xl mb-6 text-center;

    @screen md {
      @apply text-left;
    }
  }

  &__row {
    @apply flex mb-1 align-bottom items-baseline;
  }

  &__label {
    min-width: 8rem;

    @apply mr-3 text-right text-sm text-gray-700;
  }

  &__value {
    @apply text-gray-700;
  }

  &__aside {
    // lost-column: 1/1;

    @screen md {
      //   lost-column: 4/12;
    }
  }

  &__main {
    // lost-column: 1/1;

    @screen md {
      //   lost-column: 8/12;
    }
  }

  &__quantities {
    border-radius: 4px;

    @apply bg-gray-300 p-6 my-4 text-center;
  }
}
